.about-us {
  width: 100%;
  height: calc(100vh + 70px);
  background-color: #f4f1ed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -60px;
}

.about-us__image-container {
  width: 500px;
  height: 550px;
  background-image: url(../../../assets/img/screenshot-2024-10-23-alle-10.25.53.png);
  background-size: cover;
  background-position: center;
}

.about-us__content {
  width: 750px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.about-us__title {
  width: 650px;
  font-family: "Sawarabi Mincho", serif;
  font-size: 70px;
}

.about-us__description {
  width: 650px;
  font-size: 23px;
  line-height: 1.4;
}
