.banner {
    background: url('/src/assets/img/evo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh; /* Ocupa toda la altura de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
  
.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece ligeramente para mejorar el contraste */
    z-index: 1;
}
  
.banner-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}
  
.banner-content h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
  
/* Estilos para el Banner */
.banner-content h3 {
    font-size: 4rem; /* Aumentar tamaño */
    font-weight: 700; /* Negrita */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Sombra de texto para destacar */
    color: #FFCC00; /* Color dorado para resaltar */
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.8rem; /* Tamaño de letra un poco más grande */
    color: #f0f0f0; /* Color claro */
    line-height: 1.5;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); /* Sombra de texto en párrafo */
    font-weight: 500; /* Peso de la fuente */
}


body {
    font-family: 'Roboto', sans-serif;
}

/* Responsive */
@media (max-width: 768px) {
    .banner-content h3 {
        font-size: 2.8rem;
    }

    .banner-content p {
        font-size: 1.4rem;
    }

    .banner-content h2 {
        font-size: 2.2rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .banner {
        height: 50vh; /* Ajusta la altura para pantallas más pequeñas */
    }
}
