.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #333;
}

.subtitle {
    color: #4CAF50;
}

.text {
    color: #555;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    background: #e7f3fe;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.item-title {
    color: #333;
}