/* BookingStyles.css */


.title {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}

.subtitle {
    text-align: center;
    color: #34495e;
    margin-bottom: 30px;
}

form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #2c3e50;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
    border-color: #3498db;
    outline: none;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-top: 40px;
}

h3 {
    color: #34495e;
    margin: 10px 0;
    text-align: center;
}
.responsive-image {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del contenedor */
    max-width: 300px; /* Máximo ancho que puede tener la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que no haya espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
