.dashboard {
  width: 100%;
  height: auto;
  background-color: #f4f1ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 50px;
}

.dashboard__tittle,
.dashboard__tittle-promos {
  font-size: 60px;
  text-align: center;
  font-family: "Sawarabi Mincho", serif;
  margin: 50px 0px;
}

.dashboard__rooms {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard__promos {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px;
}
