.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    text-align: center;
    margin-top: 50px; /* Ajusta según necesites */
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  