.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: #f4f4f4;
}

.card {
  padding: 15px;
  width: 320px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

/* Personalización del gráfico de barras */
.recharts-bar-rectangle {
  stroke: #333;
  stroke-width: 1px;
}

.recharts-tooltip-label {
  font-weight: bold;
  color: #ff5722;
}
