.menu {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.026);
  justify-content: end;
  padding: 0 20px;
  gap: 30px;
}

.menu__list {
  width: 260px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  list-style: none;
}

.menu__item {
  font-size: 19px;
  cursor: pointer;
  font-family: "Sawarabi Mincho", serif;
}

.menu__item a {
  text-decoration: none;
  color: #623e2a;
  transition: ease-in-out 0.3s;
}

.menu__item a:hover {
  color: #623e2aa2;
}

.menu__search {
  width: 430px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 30px;
  margin-right: 50px;
  overflow: hidden;
}

.menu__search-input {
  width: 370px;
  height: 35px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 17px;
  font-family: "Sawarabi Mincho", serif;
  color: #623e2a;
}

.menu__search-icon {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__search-svg {
  width: 19px;
  height: 19px;
}
