@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.promotion-card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* Animación */
  opacity: 0;
  animation: fadeInUp 0.6s ease-out forwards;
  background-color: #f4f1ed;
}

.promotion-card__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.promotion-card__img {
  width: 100%;
}

.promotion-card__details {
  width: 100%;
  height: 200px;
  border: 2px solid #623e2a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  box-sizing: border-box;
}

.promotion-card__description {
  font-size: 15px;
  line-height: 1.3;
}

.promotion-card__tittle {
  font-size: 27px;
  margin: -15px 0px;
}

.promotion-card__details-button {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid #623e2a;
  background-color: transparent;
  color: #623e2a;
  cursor: pointer;
  font-family: "Sawarabi Mincho", serif;
  font-size: 17px;
  transition: ease-in-out 0.3s;
  margin-bottom: -10px;
}

.promotion-card__details-button:hover {
  background-color: #623e2a;
  color: #f4f1ed;
}
