.home__banner {
  width: 100%;
  height: 100vh;
  background-image: url(/img/background-img-effect.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: white;
  overflow: hidden;
}

.home__banner-content {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -80px;
}

.home__banner-text {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}

.home__banner-title {
  font-size: 45px;
  font-family: "Sawarabi Mincho", serif;
}

.home__banner-subtitle {
  font-size: 20px;
  font-family: "Sawarabi Mincho", serif;
  margin-top: -15px;
}

.home__banner-actions {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.home__banner-button {
  width: 220px;
  height: 45px;
  color: #623e2a;
  background-color: white;
  border: none;
  cursor: pointer;
  border: 3px solid white;
  transition: ease-in-out 0.3s;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: -130px;
}

.home__banner-button:hover {
  background-color: transparent;
  color: white;
}

.room {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f4f1ed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.room__info {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.room__title {
  font-size: 70px;
  font-family: "Sawarabi Mincho", serif;
}

.room__description {
  font-size: 18px;
  line-height: 1.2;
}

.room__media {
  width: 700px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.room__image-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.room__image {
  width: 700px;
  height: 500px;
}

.room__caption {
  width: 99%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #623e2a;
}

.room__caption-text {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.gallery {
  width: 100%;
  height: auto;
  background-color: #f4f1ed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 0px;
}

.gallery__container {
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.gallery__item {
  width: 100%;
  overflow: hidden;
}

.gallery__image {
  width: 450px;
}

.gallery__caption {
  width: 100%;
  height: 70px;
  border: 2px solid #623e2a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.gallery__text {
  text-align: center;
}

.gallery__container--highlighted {
  width: 900px;
}

.gallery-image--highlighted {
  width: 950px;
  height: 600px;
}

@media (min-width: 375px) {
  .home__banner-text {
    font-size: 18px;
  }

  .home__banner-title {
    font-size: 55px;
  }

  .home__banner-subtitle {
    font-size: 25px;
    margin-top: -0px;
  }
}

@media (min-width: 425px) {
  .home__banner-text {
    font-size: 18px;
  }

  .home__banner-title {
    font-size: 65px;
  }

  .home__banner-subtitle {
    font-size: 25px;
    margin-top: -0px;
  }
}

@media (min-width: 768px) {
  .home__banner-text {
    font-size: 20px;
  }

  .home__banner-title {
    font-size: 100px;
  }

  .home__banner-subtitle {
    font-size: 30px;
    margin-top: -0px;
  }
  .home__banner-content {
    width: 100%;
    height: 160px;
  }
}
