.footer {
    background-color: #253ce6; 
    padding: 40px 0; 
    text-align: center;
  }
  
  .footer p {
    color: white;
    font-size: 18px; 
    margin-bottom: 15px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons a {
    color: white;
    font-size: 28px; 
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: #f22b1d; 
  }
  
  @keyframes colorFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
  .rights-reserved{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #ff5733, #ffbd33, #33ff57, #3357ff);
    -webkit-background-clip: text; /* For Chrome, Safari */
    background-clip: text; /* Standard */
    -webkit-text-fill-color: transparent; /* Required for text gradient */
  }
