.footer {
    background-color: #e3f2fd; 
    color: #333; 
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #0d47a1; /* Azul oscuro para mejor contraste */
    font-size: 24px;
    margin: 0 15px; /* Aumenta la separación */
    transition: color 0.3s ease-in-out, transform 0.2s;
  }
  
  .social-icons a:hover {
    color: #1565c0; /* Azul más claro al pasar el mouse */
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
  }
  
